<!DOCTYPE html>
<html>
  <head>
    <title>Mongo Scraper</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstxrap/4.1.3/css/bootstrap.min.css"> --}}

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
  	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

  </head>
  <body>

    {{{body}}}
    <script type="text/javascript" src="/assets/js/app.js"></script>
  </body>
</html>
